
.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #d1d5db; 
}

.h1{
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 0px;
}

.div{
 text-align: center;
}